@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

/* Fix for invalid image URLs */
img[src=""], img[src="data:;base64,="], img:not([src]) {
    display: none;
}

::-webkit-scrollbar{
    display: none;
}